<h1>Youtube Search</h1>

<!-- recupérer le formulaire -->
<form [formGroup]="form" (submit)="onSubmit()">
  <input type="search" formControlName="search" />
  <input type="number" formControlName="maxResults" />
  <input type="submit" />
</form>

<!-- afficher les resultats -->
<ul>
  @if (videos) { @for (video of videos; track $index) {
  <li>
    <img [src]="video.thumbnail" [alt]="video.title" /> {{ video.title }}
    <button (click)="onAddVideoToList(video)">Ajouter</button>
  </li>
  } }
</ul>
