<main>
  <h1>Créer un compte</h1>
  @if (form) {
  <form [formGroup]="form" (submit)="onSubmit()">
    <input type="text" formControlName="pseudo" placeholder="Pseudo" />
    @if (form.get('pseudo')?.touched && form.get('pseudo')?.invalid ) {
    <p class="error">{{ getErrorMessage("pseudo") }}</p>
    }

    <input type="email" formControlName="email" placeholder="Email" />
    @if (form.get('email')?.touched && form.get('email')?.invalid ) {
    <p class="error">{{ getErrorMessage("email") }}</p>
    }

    <input
      type="password"
      formControlName="password"
      placeholder="Mot de passe"
    />
    @if (form.get('password')?.touched && form.get('password')?.invalid ) {
    <p class="error">{{ getErrorMessage("password") }}</p>
    }

    <input type="submit" value="S'inscrire" />
  </form>
  <p class="success">{{ message }}</p>

  }
</main>
