ul {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
li {
  list-style-type: none;
  display: flex;
  gap: 2em;
  justify-content: space-between;
  align-items: center;
}
button {
  height: 42px;
  padding: 8px;
}

img {
  width: 100px;
}
